<div id="search" class="materialize-search-wrapper">
	<div class="materialize-search input-field blue-grey darken-1"> <!-- todo-materiliaze Set color from color scheme -->
		<input id="search-input" class="materialize-search__input blue-grey-text text-lighten-4" type="search" name="search" value="{{ search }}" placeholder="{{ text_search }}" autocomplete="off"> <!-- todo-materiliaze Set color from color scheme -->
		<button type="button" id="search-button" class="materialize-search__button materialize-search__button--search btn-floating waves-effect waves-circle waves-effect-15 transparent z-depth-0" aria-label="Search the site"> <!-- todo-materiliaze Aria label fill in from template language settings --><i class="material-icons blue-grey-text text-lighten-4">search</i> <!-- todo-materiliaze Set color from color scheme --></button>
		<button type="button" id="search-clear" class="materialize-search__button materialize-search__button--clear btn-floating waves-effect waves-circle waves-effect-15 transparent z-depth-0" aria-label="Clear search"> <!-- todo-materiliaze Aria label fill in from template language settings --><i class="material-icons blue-grey-text text-lighten-4">close</i> <!-- todo-materiliaze Set color from color scheme --></button>
	</div>
</div>