<script>
$(document).ready(function() {
	var filterCategoryId = 0;

	{% if categories %}
	var liveSearchTriggerCategories = $('#live-search-trigger-categories'),
		liveSearchCategories = $('.live-search-categories');

	liveSearchTriggerCategories.dropdown({
		alignment: 'right',
		coverTrigger: false,
		constrainWidth: false,
	});

	liveSearchCategories.click(function() {
		liveSearchCategories.removeClass('active');
		$(this).addClass('active');
		filterCategoryId = $(this).data('category-id');
		filterCategoryName = $(this).text();
	});
	{% endif %}

	var inputSearch = $('#input-search'),
		html = '<ul id="live-search-wrapper" class="autocomplete-content dropdown-content"></ul>';

	inputSearch.after(html);
	inputSearch.autocomplete({
		'source': function(request, response) {
			var inputSearchValue = inputSearch.val(),
				liveSearchWrapper = $('#live-search-wrapper');

			if (inputSearchValue.length < {{ min_length }}) {
				liveSearchWrapper.css({
					'opacity': '0',
					'display': 'none'
				});
			} else {
				var html = '<li class="center">';
				html +=	'	<div class="loader-wrapper"><div class="showbox"><div class="loader"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div></div></div>';
				html +=	'</li>';
				liveSearchWrapper.html(html);
				liveSearchWrapper.css({
					'opacity': '1',
					'display': 'block'
				});

				$.ajax({
					url: 'index.php?route=extension/materialize/common/search/autocomplete&filter_name=' + encodeURIComponent(inputSearchValue) + '&filter_category_id=' + filterCategoryId,
					dataType: 'json',
					success: function(result) {
						var products = result.products;

						liveSearchWrapper.empty();

						if (!$.isEmptyObject(products)) {
							$.each(products, function(index, product) {
								var html = '<li class="waves-effect live-search-item">';

								if (product.image) {
									html += '<img alt="' + product.name + '" src="' + product.image + '" class="circle right">';
								}

								html += '	<a href="' + product.href + '" title="' + product.name + '">';
								html += '		<div>';
								html += '			<span class="text-bold product-name">' + product.name + '</span>';

								if (product.price) {
									html += '<div>';

									if (product.special) {
										html += '	<span class="card-price red-text text-darken-2">' + product.special + '</span><span class="old-price grey-text">' + product.price + '</span>';
									} else {
										html += '	<span class="price">' + product.price + '</span>';
									}

									html += '</div>';
								}

								if (product.rating) {
									html += '<div class="card-rating">';

									for (var i = 0; i < 5; i++) {
										if (product.rating > i) {
											html += '<i class="material-icons">star</i>';
										} else {
											var rest = splitString(product.rating, '.');

											if (rest[1] < 3) {
												html += '	<i class="material-icons">star_border</i>';
											} else if (rest[1] > 3 && rest[1] < 7) {
												html += '	<i class="material-icons">star_half</i>';
											} else {
												html += '	<i class="material-icons">star</i>';
											}

											html += '	&nbsp;' + product.rating + '&nbsp;';
										}
									}

									html += '	<span>(' + product.reviews + ')</span>';
									html += '</div>';
								}

								if (product.description) {
									html += '			<p>' + product.description + '</p>';
								}

								html += '		</div>';
								html += '	</a>';
								html += '</li>';

								{% if divider %}
								html += '<li class="divider"></li>';
								{% endif %}

								liveSearchWrapper.append(html);
							});
						} else {
							if (filterCategoryId == 0) {
								var html = '<li class="center-center">Ничего не найдено.</li>';
							} else {
								var html = '<li class="center-center">В категории&nbsp;<b>\"' + filterCategoryName + '\"</b>&nbsp;ничего не найдено.</li>';
							}

							liveSearchWrapper.html(html);
						}

						liveSearchWrapper.css({
							'opacity': '1',
							'display': 'block'
						});

						{% if highlight %}
						var liveSearchItem = $('.live-search-item');

						liveSearchItem.each(function() {
							var productName = $(this).find('.product-name');

							if (productName.text().toLowerCase().indexOf(inputSearchValue.toLowerCase()) != -1) {
								var	matchStart = productName.text().toLowerCase().indexOf(inputSearchValue.toLowerCase()),
									matchEnd = matchStart + inputSearchValue.length - 1,
									beforeMatch = productName.text().slice(0, matchStart),
									matchText = productName.text().slice(matchStart, matchEnd + 1),
									afterMatch = productName.text().slice(matchEnd + 1);

								productName.html("<span>" + beforeMatch + "<span class='text-bold product-name highlight deep-orange-text'>" + matchText + "</span>" + afterMatch + "</span>");
							}
						});
						{% endif %}

						return false;
					}
				});
			}
		},
		'select': function(product) {
			inputSearch.val(product.name);
		}
	});
});
</script>