# OpenCart Database connection values
OC_DB_HOSTNAME=localhost
OC_DB_USERNAME=opencart
OC_DB_PASSWORD=opencart
OC_DB_DATABASE=opencart
OC_DB_DRIVER=mysqli

# OpenCart Administration user
OC_USERNAME=admin
OC_PASSWORD=admin
OC_EMAIL=you@example.com

# OpenCart Server
OC_HTTP_SERVER=http://localhost:8000/