.idea/
/source/opencart_3.1.x/upload/index.php
/source/opencart_3.1.x/upload/image/
/source/opencart_3.1.x/upload/.htaccess.txt
/source/opencart_3.1.x/upload/config.php
/source/opencart_3.1.x/upload/catalog/
/source/opencart_3.1.x/upload/admin/
/source/opencart_3.1.x/upload/system/
/source/opencart_3.1.x/upload/php.ini
!/source/opencart_3.1.x/upload/admin/controller/extension/module/mt_filter.php
!/source/opencart_3.1.x/upload/admin/controller/extension/module/mt_materialize_search_engine.php
!/source/opencart_3.1.x/upload/admin/controller/extension/theme/mt_materialize.php
!/source/opencart_3.1.x/upload/admin/controller/extension/mt_materialize/
!/source/opencart_3.1.x/upload/admin/language/en-gb/extension/module/mt_filter.php
!/source/opencart_3.1.x/upload/admin/language/en-gb/extension/module/mt_materialize_search_engine.php
!/source/opencart_3.1.x/upload/admin/language/en-gb/extension/mt_materialize/
!/source/opencart_3.1.x/upload/admin/language/en-gb/extension/theme/mt_materialize.php
!/source/opencart_3.1.x/upload/admin/model/extension/mt_materialize/
!/source/opencart_3.1.x/upload/admin/view/stylesheet/mt_materialize/
!/source/opencart_3.1.x/upload/admin/view/javascript/mt_materialize/
!/source/opencart_3.1.x/upload/admin/view/template/extension/module/mt_blog.twig
!/source/opencart_3.1.x/upload/admin/view/template/extension/module/mt_materialize_search_engine.twig
!/source/opencart_3.1.x/upload/admin/view/template/extension/module/mt_filter.twig
!/source/opencart_3.1.x/upload/admin/view/template/extension/mt_materialize/
!/source/opencart_3.1.x/upload/admin/view/template/extension/theme/mt_materialize.twig
!/source/opencart_3.1.x/upload/catalog/controller/extension/module/mt_filter.php
!/source/opencart_3.1.x/upload/catalog/controller/extension/mt_materialize/
!/source/opencart_3.1.x/upload/catalog/model/extension/mt_materialize/