<div class="row">
	<div class="col s6">
		{% if order_recurring_id %}
		<button type="button" id="button-cancel" class="btn waves-effect waves-light red">{{ button_cancel }}</button>
		{% endif %}
	</div>
	<div class="col s6">
		<div class="flex-reverse no-padding">
			<a href="{{ continue }}" class="btn waves-effect waves-light red">{{ button_continue }}</a>
		</div>
	</div>
</div>
<script>
$(document).delegate('#button-cancel', 'click', function() {
	$.ajax({
		url: 'index.php?route=extension/recurring/pp_express/cancel',
		dataType: 'json',
		success: function(json) {
			if (json['success']) {
				M.toast({html: '<i class="material-icons left">check</i>' + json['success'], classes: 'toast-success'});
			}
			if (json['error']) {
				M.toast({html: '<i class="material-icons left">warning</i>' + json['error'], classes: 'toast-warning'});
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
</script>