{{ header }}{{ column_left }}
<div id="content" class="mt-content">
	<main>
		<nav class="mt-nav nav-extended">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">Logo</a>
				<ul class="right hide-on-med-and-down">
					<li><a>A link</a></li>
					<li><a>A second link</a></li>
					<li><a>A third link</a></li>
				</ul>
			</div>
			<div class="nav-content">
				<span class="nav-title">Title</span>
				<a class="mt-btn-floating mt-btn-large halfway-fab waves-effect left hide">
					<i class="material-icons">add</i>
				</a>
			</div>
		</nav>
		<div class="container">
			<h5>Общие настройки</h5>
			<ul class="collapsible">
				<li class="active">
					<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
					<div class="collapsible-body white">
						<div class="row">
							<div class="col-sm-12 col-lg-6">
								<div class="row">
									<div class="col-12">
										<div class="input-field">
											<select>
												<option value="default">Default</option> {# todo-materialize Must be placed in a language variable #}
												<option value="text-over-media">Title over media</option> {# todo-materialize Must be placed in a language variable #}
												<option value="text-header">Title header</option> {# todo-materialize Must be placed in a language variable #}
											</select>
											<label>Расположение заголовка</label> {# todo-materialize Must be placed in a language variable #}
										</div>
									</div>
									<div class="col-12">
										<div class="input-field">
											<select>
												<option value="default">Default</option> {# todo-materialize Must be placed in a language variable #}
												<option value="only-buttons">Only Buttons</option> {# todo-materialize Must be placed in a language variable #}
												<option value="only-icons">Only Icons</option> {# todo-materialize Must be placed in a language variable #}
											</select>
											<label>Кнопки</label> {# todo-materialize Must be placed in a language variable #}
										</div>
									</div>
									<div class="col-12">
										<div class="switch">
											<label>
												<input type="checkbox">
												<span class="lever"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="mt-card">
									<div class="mt-card-image">
										<img src="//material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg">
										<span class="mt-card-title">Card Title</span>
										<a class="mt-btn-floating mt-btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
									</div>
									<div class="mt-card-content">
										<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
									</div>
									<div class="mt-card-action tooltipped" data-position="left" data-tooltip="I am a tooltip">
										<a>This is a link</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
					<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
				</li>
			</ul>
		</div>
	</main>
	<aside>
		<ul id="sidenav" class="sidenav sidenav-fixed">
			<li>
				<div class="user-view">
					<div class="background цршеу"></div>
					<a href="#user"><img class="circle" src="//gatalsv2.beget.tech/image/cache/catalog/20430159-45x45.jpg"></a>
					<a href="#name"><span class="black-text name font-weight-bold">John Doe</span></a>
					<a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
				</div>
			</li>
			<li class="divider"></li>
			<li>
				<a>Цветовая схема</a>
			</li>
			<li class="divider"></li>
		</ul>
	</aside>
</div>
<script>
	$('#sidenav').sidenav({
	  edge: 'right'
	});
</script>
{{ footer }}