$opencart-header-height: 60px;
$ultimaterial-header-top-side-indent: 15px;

.ultimaterial {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$opencart-header-height}) !important;
  font-size: 15px;
  font-family: Roboto, sans-serif;

  &__main {
    flex: 1 0 auto;
  }

  &__text {
    &--normal {
      font-weight: 400;
    }

    &--medium {
      font-weight: 500;
    }

    &--bold {
      font-weight: 700;
    }

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;
    }

    &--with-icon {
      display: inline-flex;
      align-items: center;

      .material-icons {
        margin-right: 5px;
      }
    }
  }
}

.header {
  &__main {
    padding: 15px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & + & {
      margin-top: 15px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    &-top {
      display: flex;
      justify-content: flex-end;
    }

    &-bottom {
      display: flex;
      justify-content: flex-end;
    }

    &-list {
      flex-direction: row;
    }

    &-item {
      display: inline-flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  /*&__bottom {
    padding: 15px 0;
  }*/
}

.navigation-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__list {
    flex-direction: row;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1rem;
    color: #fff;
    padding: 0 $ultimaterial-header-top-side-indent;
    cursor: pointer;
    transition: background-color .3s;
  }

  &__link {
    display: flex;
    align-items: center;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .material-icons {
    font-size: 1rem;
  }
}

.menu {
  &__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;

    &:hover {
      background-color: rgba(0,0,0,0.1);

      .menu__sub-menu {
        height: auto;
        transform: scale(1);
        opacity: 1;
      }
    }

    &--with-child {
      &::after {
        font-family: 'Material Icons';
        content: '\e316';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 24px;
        color: inherit;
        transform: rotate(180deg);
        transition: transform 350ms ease;
      }

      &:hover {
        &::after {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__link {
    position: relative;
    padding: 0 25px 0 15px;

    &:not(&--with-child) {
      padding: 0 15px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__sub-menu {
    position: absolute;
    top: 100%;
    background-color: white;
  }
}

.sub-menu {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  transform: scale(.8);
  opacity: 0;
  transition: transform 150ms ease, opacity 150ms ease;

  &__lists {
    display: flex;
  }

  &__list {
    width: 100%;
  }

  &__item {
    min-width: 180px;
  }

  &__divider {
    min-height: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }

  &__link {
    display: block;
    padding: 12px 22px 12px 16px;
    font-size: .875rem;
    line-height: 1rem;
    color: #000;

    &:hover {
      background-color: rgba(0,0,0,0.1);
      text-decoration: none;
      color: #000;
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

input {
  font-family: Roboto, sans-serif;
}

[data-ultimaterial="setting"], .sortable-wrapper {
  outline: 1px dashed rgba(170,170,170,0.7);
  outline-offset: -2px;
  min-width: 1rem;
  min-height: 1rem;
}

.setting--selected {
  outline: 3px solid #0091ea !important;
}

.setting--hover {
  outline: 1px solid #0091ea;
}