{% if payment_pp_express_incontext_disable != 1 %}
<div class="flex-reverse">
	<a id="button-confirm" href="{{ continue }}"></a>
</div>
<script>
window.paypalCheckoutReady = function () {
	paypal.checkout.setup('{{ username }}', {
		container: 'button-confirm',
		environment: 'sandbox'
	});
};
</script>
<script src="//www.paypalobjects.com/api/checkout.js" async></script>
{% else %}
<div class="flex-reverse">
	<a href="{{ continue }}" class="btn waves-effect waves-light blue" id="button-confirm">{{ button_continue }}</a>
</div>
{% endif %}