<div class="nav-wrapper {{ color_mobile_search ? color_mobile_search : 'blue-grey lighten-1' }}">
	<div id="search-form-side" class="input-field">
		<input id="search-input-side" type="search" name="search" value="">
		<label class="activator waves-effect waves-circle label-icon label-icon-search" for="search-input-side"><i class="material-icons">search</i></label>
		<i id="reset-search-side" class="material-icons">close</i>
	</div>
</div>