<div class="flex-reverse">
	<button type="button" value="{{ button_confirm }}" id="button-confirm" class="btn waves-effect waves-light red">{{ button_confirm }}</button>
</div>
<script>
$('#button-confirm').on('click', function() {
	$.ajax({
		type: 'get',
		url: 'index.php?route=extension/payment/free_checkout/confirm',
		cache: false,
		success: function() {
			location = '{{ continue }}';
		}
	});
});
</script>